*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	height: 100%;
	font-size: 10px;

	@media (min-width: 1921px) {
		font-size: 14px;
	}

	@media (min-width: 2561px) {
		font-size: 16px;
	}

	@media (max-width: $md1+px) {
		font-size: 8px;
	}

	@media (max-width: $md2+px) {
		font-size: 7px;
	}
	@media (max-width: $md3+px) {
		font-size: 8px;
	}
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5em;
	transition: opacity 0.8s ease;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	&:not(.mobile) {
		& a:not(.not-hover):hover {
			color: $secondColor;
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: #4e4e4e;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 0px #fff;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a {
	transition: all 0.3s ease;
	color: #009AA6;
}
a:hover {
	text-decoration: none;
	color: $textColorThird;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

.img-svg {
	height: 1em;
	width: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: transparent;
}

h1 {
	margin: 0;
}

h2, .title-2 {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.21em;
	color: $titleColor;

	@media (max-width: $md3+px) {
		font-size: 3.6rem;
	}
}

h3, .title-3 {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 1.25em;
	color: $titleColor;

	@media (max-width: $md3+px) {
		font-size: 2.8rem;
	}
}
h4, .title-4 {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.33em;
	color: $titleColor;

	@media (max-width: $md3+px) {
		font-size: 2.2rem;
	}
}
h5, .title-5 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.1em;
	color: $titleColor;

	@media (max-width: $md3+px) {
		font-size: 1.8rem;
	}
}

p,
ul,
ol,
figure {
	margin-bottom: 1.5em;
}

._page {
	overflow: hidden;
}

.main-wrapper {
	overflow: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

._page {
	flex: 1 1 auto;
}

.container {
	width: calc(100% - 100px);
	max-width: 122.5rem !important;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

	@media (max-width: $md1+px) {
		width: calc(100% - 64px);
		max-width: none !important;
	}

	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
	}
}

.container-sm {
	width: calc(100% - 100px);
	max-width: 80.6rem !important;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

	@media (max-width: $md1+px) {
		width: calc(100% - 64px);
		max-width: none !important;
	}

	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
	}
}
.container-md {
	width: calc(100% - 100px);
	max-width: 108.5rem !important;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

	@media (max-width: $md1+px) {
		width: calc(100% - 64px);
		max-width: none !important;
	}

	@media (max-width: $md3+px) {
		width: calc(100% - 40px);
	}
}

.padding-wrap {
	padding: 4rem 0;

	@media (max-width: $md3+px) {
		padding: 3rem 0;
	}
}

.p-80 {
	padding-top: 8rem;

	@media (max-width: $md3+px) {
		padding-top: 4rem;
	}
}

.p-40 {
	padding-top: 4rem;
}

.mb-48 {
	margin-bottom: 4.8rem;
}
.mb-40 {
	margin-bottom: 4rem;
}
.mb-32 {
	margin-bottom: 3.2rem;
}

.mb-24 {
	margin-bottom: 2.4rem;
}

.mb-16 {
	margin-bottom: 1.6rem;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.object-fit-contain {
	object-fit: contain !important;
}

.bg {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;

    &__top {
        margin-bottom: -4px;
        & svg {
            width: 100%;
            height: auto;
        }
    }

    &__main {
        flex: 1 1 auto;

		& img {

		}
    }

    &__bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 100%;
        margin-bottom: -4px;

        & svg {
            width: 100%;
            height: auto;
        }
    }
}

.main-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3.2rem;
	padding-left: 0;
	margin-bottom: 0;

	@media (max-width: 575.98px) {
		gap: 2.4rem;
	}

	& > li {
		flex: 0 1 calc(33.3333333% - (3.2rem * 2 / 3));

		@media (max-width: $md3+px) {
			flex: 0 1 calc(50% - 1.6rem);
		}

		@media (max-width: 575.98px) {
			flex: 0 1 100%;
		}
	}
}

.social {
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	gap: 1.6rem;

	& img {
		width: 4rem;
		height: auto;
		transition: all .3s ease;
		display: block;

		@media (min-width: 992px) {
			&:hover {
			transform: scale(1.05);
			}
		}
	}
}

.link {
	font-weight: 700;
	display: inline-flex;
	align-items: center;

	&:after {
		content: "\e90c";
		font-family: 'icomoon' !important;
		color: #7AABDE;
		font-size: 3rem;
		font-weight: 400;
		margin-left: 1.2rem;
		transition: all .2s ease;
	}

	&:hover {
		&::after {
			color: inherit;
		}
	}
}

.text-section {
	margin: 0 auto;
	width: 100%;
	max-width: 80.7rem;
}

hr {
	width: 16rem;
	height: 2px !important;
	display: block;
	background-color: $textColorThird;
	margin: 0 auto;
	border: none;
	outline: none;
	opacity: 1;
}


[data-padding-top-header-size] {
	padding-top: 9.6rem;
}

[data-tab-content] {
	display: none;

	&.tab-active {
		display: block;
		animation: tabs-content 0.6s ease forwards;
	}

	@keyframes tabs-content {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

[data-spoller-trigger] {
	& + * {
		display: none;
	}
}

.text-primary {
	color: $mainColor !important;
}

.text-secondary {
	color: $textColorSecondary !important;
}

.text-success {
	color: $successColor !important;
}

.text-danger {
	color: $dangerColor !important;
}

.text-info {
	color: $infoColor !important;
}

.text-dark {
	color: $textColor !important;
}

.text-light {
	color: $secondColor !important;
}

.bg-primary {
	background: $mainColor !important;
}

.bg-secondary {
	background: $secondColor !important;
}

.bg-success {
	background: $successColor !important;
}

.bg-danger {
	background: $dangerColor !important;
}

.bg-info {
	background: $infoColor !important;
}

.bg-dark {
	background: $textColor !important;
}

.bg-light {
	background: $lightColor !important;
}

.order-6 {
	order: 6 !important;
}

.w-sm-auto {
	@media (min-width: 576px) {
		width: auto !important;
	}
}

.mw-md-70 {
	@media (min-width: 768px) {
		max-width: 70% !important;
	}
}

.pb-0-mob {
	@media (max-width: $md3+px) {
		padding-bottom: 0 !important;
	}
}

.text-md {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.5em;
}

.text-sm {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5em;
}
.text {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.5em;
}

.last {
	& > *:last-child {
		margin-bottom: 0;
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: $titleColor;
		margin-bottom: 0.7em;
	}

	& p,
	& ul,
	& ol,
	& figure {
		margin-bottom: 1.5em;
	}

	& a {

	}

	& ul {
		padding-left: 3em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			list-style: disc;

			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& ol {
		padding-left: 3em;

		@media (max-width: $md3+px) {
			padding-left: 1.5em;
		}

		& > li {
			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& figure {
		display: block;
		width: 100%;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			margin: 50px 0;
		}

		& > img {
			display: block;
			width: 100%;
			height: auto;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& video {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& iframe {
		display: block;
		width: 100%;
		height: 60rem;
		margin: 8rem 0;

		@media (max-width: $md2+px) {
			height: 500px;
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			height: 380px;
			margin: 50px 0;
		}
	}

	& table {
		margin: 9rem 0;

		@media (max-width: $md2+px) {
			margin: 80px 0;
		}
		@media (max-width: $md3+px) {
			margin: 50px 0;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			margin-top: 1.4em;
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================
