.form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 3.2rem;
    }

    &__item {
        flex: 0 1 100%;
    }

    &__item--half {
        @media (min-width: 768px) {
            flex: 0 1 calc(50% - 1.8rem);
        }
    }

    &__label {
        margin-bottom: 1.2rem;
        display: block;
    }

    &__submit {
        align-self: flex-start;
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 0.8rem;
    height: 5.7rem;
    padding: 0.8rem 1.6rem;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 400;
    color: $textColor;

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        font-size: 1.4rem;
        color: $textColorSecondary;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 0.8rem;
    height: 24rem;
    padding: 2.4rem 1.6rem;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 400;
    color: $textColor;
    resize: none;

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        font-size: 1.4rem;
        color: $textColorSecondary;
    }

    &::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: #4e4e4e;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 0px #fff;
	}
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $mainColor;
                border-color: $mainColor;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjk5OTk5OSA0LjYzNTg4TDIuNDc0NzEgNi4xMTA1OUMyLjg2NTIzIDYuNTAxMTEgMy40OTg0IDYuNTAxMTEgMy44ODg5MiA2LjExMDU5TDkgMC45OTk1MTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
    }
}
